In [1]:
import pandas as pd

In [7]:
id_df = pd.read_csv('./stock_id.csv',encoding='utf-8')
id_df

      證券代號     證券名稱
0     0050   元大台灣50
1     0051  元大中型100
2     0052     富邦科技
3     0053     元大電子
4     0054   元大台商50
...    ...      ...
1112  9944       新麗
1113  9945      潤泰新
1114  9946     三發地產
1115  9955       佳龍
1116  9958      世紀鋼

[1117 rows x 2 columns]

In [8]:
id_df1 = id_df.iloc[144:]

In [10]:
id_df1.to_csv('./stock_id_selected.csv',encoding='utf-8')